/* latin */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/figtree/v1/_Xms-HUzqDCFdgfMm4S9DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Header Section */
#header{
    background-color: #2d2e3b;
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
}

#header h1 {
    font-family: "Figtree";
    font-weight: bold;
    color: #eaebed;
    padding-left: 10px;
}

/* About Section */

#About {
    background-image: url("file:///C:/Users/19032/Documents/GroupProject/WorkoutLog/Resources/images/whitebackground.png");
    background-size: cover;
    background-color: #ececec;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    height: 500px;
}


.About-content{
    position: relative;
    top: 20px;
    text-align: center;
    display: block;

}
.About-content h1{
    font-family: "Figtree";
    font-weight: bold;
    color: #2d2e3b;
}

.About-content p{
    font-family: "Figtree";
    color: #2d2e3b;
    font-size: 18px;
}

.About-img img{
    width: 30%;
}

/* blue Section */

#blue-bar{
    background-color: #0064cb;
    color: #0064cb;
    position: absolute;
    top: 570px;
    height: 20px;
    width: 100%;
    right: 0px;
}

/* Log in Section */

#Log-In {
    background-color: #2d2e3b;
    position: absolute;
    width: 100%;
    top: 590px;
    right: 0px;
    height: 400px;
    letter-spacing: 2px;
}

.Log-in-content{
    font-family: "Figtree";
    position: relative;
    text-align: center;
    top: 30px;
}

.Log-in-content h2{
    color:#9bccff;
    margin-left: 80px;
}

.Log-in-content form{
    color: #ffffff;
}

.Log-in-content p{
    color: #ffffff;
    margin-left: 80px;
}

.Log-in-content a{
    color: #9bccff;
    text-decoration: none;
}

input{
    font-family: "Figtree";
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    border-radius: 25px;
    border: none;
    height: 25px;
    width: 250px;
}

button{
    font-family: "Figtree";
    font-weight: bold;
    width: 150px;
    height: 25px;
    margin-left: 80px;
    border-radius: 25px;
    background-color: #5bacff;
    border: 1px solid white;
    color: #ffffff;
}

button:hover{
    background-color: #ffffff;
    border: 1px solid #5bacff;
    color: #5bacff;

}